* {
	padding: 0;
	margin: 0;
	border: none;
}

body {
  margin: 0;
}

._container {
  
  /* border: 1px solid red; */
}

.wrapper {
  /* margin: auto; */
  /* max-width: 71.3%; */
}

.logo {
  position: relative;
  padding-top: 58px;
  margin-bottom: 127px;
  font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
}

.header__title {
  width: 48%;
  margin: 0 0 32px 0;
  font: bold 45px/55px 'Gilroy', arial, helvetica, sans-serif;
  color: #FFF;
}

.header__subtitle__first {
  width: 28%;
  margin-bottom: 8px;
  font: bold 30px/37px 'Gilroy', arial, helvetica, sans-serif;
  color: #FFCC33;
}

.header__subtitle__second {
  width: 38%;
  margin: 0 45px 47px 0;
  font: 300 20px/23px 'Gilroy', arial, helvetica, sans-serif;
}

.header__button {
  font: 900 20px/27px 'Montserrat', arial, helvetica, sans-serif;
  background: #FFCC33;
  padding: 15px 24px 15px 24px;
  text-decoration: none;
  width: 230px;
  height: 20px;
}

.header {
  height: 840px;
  padding-left: 129px;
  background: top 186px right 130px no-repeat url(developer.png);
  background-color: #3030C1;
  margin-bottom: 54px;
  border: dashed 1px red;
}

@media (max-width: 1327px) {
  .header {
    background: top 189px right 38px no-repeat url(developer.png);
    background-color: #3030C1;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .header {
    height: 515px;
    background: top 130px right 38px no-repeat url(developer.png);
    background-size: 36%;
    background-color: #3030C1;
  }
  .logo {
    padding-top: 41px;
    margin-bottom: 42px;
    font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
  }
  .header__title {
    width: 48%;
    margin: 0 0 22px 0;
    font: bold 25px/35px 'Gilroy', arial, helvetica, sans-serif;
  }
  .header__subtitle__first {
    width: 28%;
    margin-bottom: 8px;
    font: bold 21px/28px 'Gilroy', arial, helvetica, sans-serif;
    
  }
  .header__subtitle__second {
    width: 310px;
    margin: 0 45px 16px 0;
    font: 300 17px/22px 'Gilroy', arial, helvetica, sans-serif;
  }
 .header__button {
    font: 900 13px/22px 'Montserrat', arial, helvetica, sans-serif;
  }
}

@media (max-width: 768px) {
  .header {
    height: 515px;
    background: top 130px right 38px no-repeat url(developer.png);
    background-size: 36%;
    background-color: #3030C1;
  }
  .logo {
    padding-top: 41px;
    margin-bottom: 42px;
    font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
  }
  .header__title {
    width: 48%;
    margin: 0 0 22px 0;
    font: bold 25px/35px 'Gilroy', arial, helvetica, sans-serif;
  }
  .header__subtitle__first {
    width: 28%;
    margin-bottom: 8px;
    font: bold 21px/28px 'Gilroy', arial, helvetica, sans-serif;
  }
  .header__subtitle__second {
    width: 310px;
    margin: 0 45px 47px 0;
    font: 300 17px/22px 'Gilroy', arial, helvetica, sans-serif;
  }
 .header__button {
    font: 900 13px/22px 'Montserrat', arial, helvetica, sans-serif;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .header {
    height: 440px;
    padding-left: 90px;
    background: top 93px right 27px no-repeat url(developer.png);
    background-size: 42%;
    background-color: #3030C1;
  }
  .logo {
    padding-top: 21px;
    margin-bottom: 30px;
    font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
  }
  .logo__img {
    width: 131px;
    height: 41px;
  }
  .header__title {
    width: 48%;
    margin: 0 0 22px 0;
    font: bold 19px/24px 'Gilroy', arial, helvetica, sans-serif;
  }
  .header__subtitle__first {
    width: 28%;
    margin-bottom: 8px;
    font: bold 17px/21px 'Gilroy', arial, helvetica, sans-serif;
  }
  .header__subtitle__second {
    width: 225px;
    margin: 0 45px 20px 0;
    font: 300 17px/22px 'Gilroy', arial, helvetica, sans-serif;
  }
 .header__button {
    font: 900 13px/22px 'Montserrat', arial, helvetica, sans-serif;
  }
}


/* ---------------------------------plans-------------------------------- */

.main {
  /* padding: 75px 63% 283px 3px; */

}

.plans__wrapper {
  max-width: 1180px;
  margin: 0 auto;
  margin-bottom: 45px;
  /* border: dashed 1px red; */
}


.column__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  /* border: dashed 1px red; */
}

h2 {
  text-align: center;
  font: 800 40px/49px 'Gilroy', arial, helvetica, sans-serif;
  margin-bottom: 34px;
}

.column__item {
  width: 380px;
  height: 397px;
  text-align: center;
  /* border: dashed 1px red; */
}

.column__icon-1 {
  padding-top: 43px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.column__icon-2 {
  padding-top: 43px;
  display: block;
  margin: 0 auto;
  margin-bottom: 28px;
  padding-left: 2px;
}

.column__icon-3 {
  padding-top: 43px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  padding-left: 2px;
}

.column__title-1 {
  display: inline-block;
  font: 800 30px/36.75px 'Gilroy', arial, helvetica, sans-serif;
  margin: 0;
  margin-left: -8px;
  margin-bottom: 3px;
  /* border: dashed 1px red; */
}

.column__title-2 {
  display: inline-block;
  font: 800 30px/36.75px 'Gilroy', arial, helvetica, sans-serif;
  margin: 0;
  margin-bottom: 10px;
  /* border: dashed 1px red; */
}

.column__title-3 {
  display: inline-block;
  font: 800 30px/36.75px 'Gilroy', arial, helvetica, sans-serif;
  width: 243px;
  padding-left: 6px;
  margin: 0;
  margin-bottom: 23px;
  /* border: dashed 1px red; */
}

.plans__subtitle-1 {
  font: 800 20px/24.5px 'Gilroy', arial, helvetica, sans-serif;
  margin-left: -7px
}

.plans__subtitle-2 {
  font: 800 20px/25px 'Gilroy', arial, helvetica, sans-serif;
  margin: 0 auto;
  width: 231px;
}

.plans__subtitle-3 {
  font: 800 20px/25px 'Gilroy', arial, helvetica, sans-serif;
  width: 249px;
  margin: 0 auto;
}

.plans__subtitle-4 {
  text-align: center;
  font: 300 30px/34.59px 'Gilroy', arial, helvetica, sans-serif;
  width: 997px;
  height: 105px;
  margin-left: 98px;
  /* border: dashed 1px red; */
}
/* ------------------------------plans__application------------------------- */
.plans__application {
  height: 526px;
  /* border: dashed 1px red; */
  padding-top: 75px;
  background-color:#F0FBFF;
}

.application__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 20px;
  padding-left: 527px;
  /* border: dashed 1px red; */
}

.application__title {
  text-align: center;
  font: 800 40px/49px 'Gilroy', arial, helvetica, sans-serif;
  margin-bottom: 28px;
}

.application__name {
  font: 300 20px/23px 'Gilroy', arial, helvetica, sans-serif;
  width: 354px;
  height: 79px;
  background-color: #FFF;
  margin-bottom: 23px;
  padding-left: 27px;
  /* border: dashed 1px red; */
}

.application__email {
  font: 300 20px/23px 'Gilroy', arial, helvetica, sans-serif;
    width: 353px;
    height: 80px;
    padding-top: 6px;
    padding-left: 27px;
    background-color: #FFF;
    /* border: dashed 1px red; */
}

.application__form {
  position: absolute;
  width: 270px;
  height: 52px;
  font: 900 20px/24px 'Montserrat', arial, helvetica, sans-serif;
  background: #FFCC33;
  margin-top: 258px;
  /* margin-left: 527px; */
  padding: 36px 0px 0px 110px;
  text-decoration: none;
}

footer {
  background: #00008B;
  width: 1440px;
  height: 120px;
  border: dashed 1px red;
}

.footer__title {
  font: 400 15px/18px 'Roboto', arial, helvetica, sans-serif;
  color: #FFF;
  padding-top: 49px;
  padding-left: 131px
}
@media (min-width: 226px) and (max-width: 599px) {
  .wrapper {
    /* margin: auto; */
    /* max-width: 85.3%; */
  }
  .header {
    /* padding: 65% 0 0;
    background-size: 74%; */
    background-position: top center;
    height: 595px;
    padding-left: 28px;
    background: top 331px right 30px no-repeat url(developer.png);
    background-size: 81%;
    background-color: #3030C1;
  }
  .logo {
    padding-top: 37px;
    margin-bottom: 19px;
    font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
  }
  .logo__img {
    width: 93px;
    height: 24px;
  }
  .header__title {
    width: 63%;
    margin-bottom: 25px;
    font: bold 25px/31px 'Gilroy', arial, helvetica, sans-serif;
  }
  span {
    white-space: nowrap;
  }
  .header__subtitle__first {
    width: 81%;
    margin-bottom: 1px;
    font: bold 20px/24.5px 'Gilroy', arial, helvetica, sans-serif;
  }
  .header__subtitle__second {
    width: 82%;
    margin: 0 45px 47px 0;
    font: 300 15px/17px 'Gilroy', arial, helvetica, sans-serif;
  }
 .header__button {
    display: none;
    font: 900 13px/22px 'Montserrat', arial, helvetica, sans-serif;
  }
  .plans__wrapper {
    margin: 0 auto;
  }
  .column__title {
    font: bold 20px/24.5px 'Gilroy', arial, helvetica, sans-serif;
    margin-bottom: 29px;
  }
  .column__container {
    flex-direction: column;
  }
  .column__icon-1 {
    width: 84.61px;
    padding-right: 1px;
    margin-bottom: 15px;
  }
  .column__title-1 {
    font: bold 20px/24.5px 'Gilroy', arial, helvetica, sans-serif;
    color: #3030C1;
    padding-left: 7px;
    margin-bottom: 16px;
  }
  .plans__subtitle-1 {
    font: bold 10px/12.25px 'Gilroy', arial, helvetica, sans-serif;
    padding-left: 7px;
  }
  .column__item {
    width: 81%;
    height: 273px;
    box-shadow: 7px 7px 30px 0 rgb(0 0 0 / 25%), -2px -2px 13px 0 rgb(0 0 0 / 0%);
    margin: 0 auto;
    margin-bottom: 20px;
    background: #FBFBFB;
  }
  .column__icon-2 {
    width: 84.61px;
    padding-top: 40px;
    margin-bottom: 16px;
  }
  .column__title-2 {
    font: bold 20px/24.5px 'Gilroy', arial, helvetica, sans-serif;
    color: #3030C1;
    padding-left: 1px;
    margin-bottom: 8px;
  }
  .plans__subtitle-2 {
    font: bold 10px/12.25px 'Gilroy', arial, helvetica, sans-serif;
    padding-right: 1px;
    width: 116px;
  }
  .column__icon-3 {
    width: 84.61px;
    padding-top: 43px;
    margin-right: 88px;
    margin-bottom: 16px;
  }
  .column__title-3 {
    font: bold 20px/24.5px 'Gilroy', arial, helvetica, sans-serif;
    width: 162px;
    color: #3030C1;
    padding-left: 1px;
    margin-bottom: 15px;
  }
  .plans__subtitle-3 {
    font: bold 10px/12.25px 'Gilroy', arial, helvetica, sans-serif;
    padding-right: 4px;
    width: 125px;
  }
}

