body {
  margin: 0;
}

.wrapper {
  margin: auto;
  max-width: 80%;
}

.header {
  justify-content: space-between;
  display: flex;
  min-height: 30%;
  margin-bottom: 130px;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0 40px 49px;
  font: bold 24px/31px 'PT Serif', arial, helvetica, sans-serif;
}

.logo__circle {
  transform: translateY(-50%);
  position: absolute;
  width: 28px;
  height: 28px;
}

.logo__circle_color_dark-blue {
  left: 5px;
  top: 49%;
  background: #0056ec;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 13px;
  top: 55%;
  background: #c8dbfb;
  border-radius: 50%;
  opacity: 0.7;
}

.menu {
  display: flex;
  align-items: center;
  padding: 44px 0 40px 49px;
  width: 386px;
}

.menu__item_active::after {
  position: relative;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
  left: 0;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  padding-top: 3px;
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s;
}

.menu__item:hover {
  opacity: 0.5;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
  padding-right: 0;
}

.main {
  padding: 75px 63% 283px 3px;
  background: top right 4px no-repeat url(frame.png);
}

.main__title {
  margin: 0 0 35px 0;
  font: bold 66px/87px 'PT Serif', arial, helvetica, sans-serif;
}

.main__title_text-background {
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, #ecf3ff 15%);
}

.main__subtitle {
  width: 455px;
  margin: 0 45px 60px 0;
  font: 400 22px/26px 'Roboto', arial, helvetica, sans-serif;
}

.main__button {
  font: 500 18px/21px 'Roboto', arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 16px 36px 18px 22px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
  width: 230px;
  height: 20px;
}

.main__button:hover {
  opacity: 0.5;
}

.points {
  display: flex;
  justify-content: center;
  width: 32px;
  height: 8px;
  margin: 0 auto;
}

.points_point {
  margin-right: 4px;
}

#menu__toggle {
  display: none;
}

@media (max-width: 1366px) {
  .wrapper {
    width: 68.6%;
  }

  .header {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 84px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 40px 49px;
    width: 322px;
  }

  .menu__item {
    font: 500 14px/16px 'Roboto', sans-serif;
    letter-spacing: -0.1px;
  }

  .menu__item:nth-child(2) {
    margin-right: 23px;
  }

  .menu__item:nth-child(3) {
    margin-right: 25px;
  }

  .menu__item:nth-child(-n+2) {
    margin-right: 20px;
  }

  .menu__item:last-child {
    margin-right: 8px;
  }

  .main {
    padding-top: 17px;
    padding-bottom: 6%;
    background-size: 55%;
    background-position: right 2px top -1px;
    margin-bottom: 95px;
  }

  .main__title {
    width: 434px;
    margin-bottom: 40px;
    letter-spacing: 0;
    font: bold 50px/65.5px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, rgba(236, 243, 255, 1) 15% 93%, rgba(255, 255, 255, 1) 93%);
  }

  .main__subtitle {
    width: 367px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 53px;
    font: 500 18px/21px 'Roboto', sans-serif;
  }

  .main__button {
    width: 168px;
    height: 13px;
    padding: 11px 26px 13px 17px;
    font: 500 14px/21px 'Roboto', sans-serif;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    width: 91.9%;
    max-width: 100%;
  }

  .header {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 85px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 40px 49px;
    width: 319px;
  }

  .menu__item {
    font: 500 14px/16px 'Roboto', sans-serif;
    letter-spacing: -0.1px;
  }

  .menu__item:nth-child(2) {
    margin-right: 23px;
  }

  .menu__item:nth-child(3) {
    margin-right: 25px;
  }

  .menu__item:nth-child(-n+2) {
    margin-right: 24px;
  }

  .menu__item:last-child {
    margin-right: 6px;
  }

  .main {
    padding-top: 17px;
    padding-bottom: 6%;
    background-size: 55%;
    background-position: right 4px top -1px;
    margin-bottom: 95px;
    margin-left: 1px;
  }

  .main__title {
    width: 434px;
    margin-bottom: 40px;
    letter-spacing: 0;
    font: bold 50px/65.5px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, rgba(236, 243, 255, 1) 15% 93%, rgba(255, 255, 255, 1) 93%);
  }

  .main__subtitle {
    width: 367px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 52px;
    font: 500 18px/21px 'Roboto', sans-serif;
  }

  .main__button {
    width: 168px;
    height: 13px;
    padding: 11px 26px 13px 17px;
    font: 500 14px/21px 'Roboto', sans-serif;
  }
}

@media (min-width: 769px) and (max-width: 930px) {
  .wrapper {
    max-width: 100%;
  }

  .header {
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 85px;
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 40px 49px;
    width: 319px;
  }

  .menu__item {
    font: 500 14px/16px 'Roboto', sans-serif;
    letter-spacing: -0.1px;
  }

  .menu__item:nth-child(2) {
    margin-right: 23px;
  }

  .menu__item:nth-child(3) {
    margin-right: 25px;
  }

  .menu__item:nth-child(-n+2) {
    margin-right: 24px;
  }

  .menu__item:last-child {
    margin-right: 6px;
  }

  .main {
    padding-top: 17px;
    padding-bottom: 6%;
    background-size: 50%;
    background-position: right 4px top -1px;
    margin-bottom: 95px;
    margin-left: 1px;
  }

  .main__title {
    width: 434px;
    margin-bottom: 40px;
    letter-spacing: 0;
    font: bold 45px/65.5px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__title-text_highlight {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 15%, rgba(236, 243, 255, 1) 15% 93%, rgba(255, 255, 255, 1) 93%);
  }

  .main__subtitle {
    width: 367px;
    margin: 0;
    margin-right: 10px;
    margin-bottom: 52px;
    font: 500 18px/21px 'Roboto', sans-serif;
  }

  .main__button {
    width: 168px;
    height: 13px;
    padding: 11px 26px 13px 17px;
    font: 500 14px/21px 'Roboto', sans-serif;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
    margin: 0;
  }

  .header {
    margin-bottom: 7px;
    padding: 16px 0;
  }

  .logo {
    margin-left: 24px;
    padding: 4px 0 44px 49px;
  }

  .logo__circle {
    left: 0;
    top: 0;
    top: 46%;
    transform: translateY(-50%);
    position: absolute;
    width: 28px;
    height: 28px;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 61%;
    background: #c8dbfb;
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__text {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px;
    right: 24px;
    width: 24px;
    height: 27px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 103%;
    height: 3px;
    background-color: #0056ec;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 176px 20px;
    list-style: none;
    text-align: center;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }

  .menu__item_active::after {
    display: none;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }

  .main {
    padding: 69% 0 0;
    background-size: 74%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    width: auto;
    margin-bottom: 31px;
    padding-left: 4px;
    font: bold 30px/39px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    max-width: 65%;
    margin: 0 auto;
    margin-bottom: 38px;
    padding-left: 4px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .points {
    display: none;
  }
}

@media (min-width: 226px) and (max-width: 767px) {
  .wrapper {
    width: 100%;
    margin-left: 0;
  }

  .header {
    margin-bottom: 9px;
    padding: 16px 0;
  }

  .logo {
    margin-left: 24px;
    padding: 4px 0 44px 49px;
  }

  .logo__circle {
    left: 0;
    top: 0;
    top: 46%;
    transform: translateY(-50%);
    position: absolute;
    width: 28px;
    height: 28px;
  }

  .logo__circle_color_dark-blue {
    background: #0056ec;
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__circle_color_blue {
    left: 8px;
    top: 61%;
    background: #c8dbfb;
    border-radius: 50%;
    opacity: 0.7;
  }

  .logo__text {
    display: none;
  }

  #menu__toggle {
    opacity: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 27px;
    right: 25px;
    width: 24px;
    height: 27px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 103%;
    height: 3px;
    background-color: #0056ec;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 173px 0 0 12px;
    list-style: none;
    text-align: center;
    background-color: #eceff1;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
  }

  .menu__item {
    display: block;
    margin-right: 29px;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 500;
    text-decoration: none;
  }

  .menu__item:hover {
    background-color: #cfd8dc;
  }

  .menu__item_active::after {
    display: none;
  }

  .menu__item:last-child {
    margin-right: 55px;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu {
    visibility: visible;
    left: 0;
  }

  .main {
    margin-bottom: 59px;
    padding: 69% 0 0;
    background-size: 74%;
    background-position: top center;
    text-align: center;
  }

  .main__title {
    width: auto;
    margin-bottom: 33px;
    padding-left: 4px;
    font: bold 30px/39px 'PT Serif', arial, helvetica, sans-serif;
  }

  .main__subtitle {
    max-width: 65%;
    margin: 0 auto;
    margin-bottom: 38px;
    padding-left: 4px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    font: 500 14px/16px 'Roboto', arial, helvetica, sans-serif;
  }

  .points {
    display: none;
  }
}
